<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>예약정보</h2>
예약 번호 : <th:text>[[${dto.id}]]</th:text> <br>
예약자 이름 : <th:text>[[${dto.name}]]</th:text> <br>
예약자 전화번호 : <th:text>[[${dto.phoneNumber}]]</th:text> <br>
체크인 날짜 : <th:text>[[${dto.checkInDate}]]</th:text> <br>
체크아웃 날짜 : <th:text>[[${dto.checkOutDate}]]</th:text> <br>
1
<button type="button"><a th:href="@{/reserveModify/{id}(id = ${dto.id})}"><b>예약변경</b></a></button>
</body>
</html>